<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Busqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
     
      <ion-col class="ion-align-self-center">
       <ion-button  shape="round" color="tertiary" (click)="irpapel()" >
         <ion-icon slot="start" name="cube"></ion-icon>
         Papel y Cartón
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>

     <ion-col size="5">
       <ion-button  shape="round" color="primary" (click)="irvidrio()">
         Vidrio
         <ion-icon slot="end" name="wine"></ion-icon>
       </ion-button>
     </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-button  shape="round" color="secondary" (click)="irplastico()">
          <ion-icon slot="start" name="pint"></ion-icon>
          Plastico
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
         <ion-button  shape="round" color="success" (click)="irmetal()">
           Metales
           <ion-icon slot="end" name="rocket"></ion-icon>
         </ion-button>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>
 
  
    
  

  <!-- <ion-searchbar showCancelButton="never" (ionInput)= "getItems($event)"></ion-searchbar>
 
  <ion-list inset *ngFor="let p of items" >
    <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      
      <ion-label>{{ p.nombre }}</ion-label>
    </ion-item>

  </ion-list>-->

</ion-content>