<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox"></ion-back-button>
    </ion-buttons>
    <ion-title color="success">Paginas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" [scroll="false"]> 
  <ion-card color="danger"> <!--Pagina#1-->
    <ion-item color="tertiary">
      <ion-icon name="pin-outline" slot="start" ></ion-icon>
      <ion-label>Pagina_1</ion-label>
      <ion-button slot="end"  target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/" >
        <ion-text color="danger">
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content >

      <ion-text>
        Texto pagina #1:Podrá nublarse el sol eternamente;

          Podrá secarse en un instante el mar;
          
          Podrá romperse el eje de la tierra
          
          Como un débil cristal.
          
          ¡todo sucederá! Podrá la muerte
          
          Cubrirme con su fúnebre crespón;
          
          Pero jamás en mí podrá apagarse
          
          La llama de tu amor.1236
      </ion-text>
      
    </ion-card-content>
  </ion-card>
  
  <ion-card color="danger"> <!--Pagina#2-->
    <ion-item color="tertiary">
      <ion-icon name="flame-outline" slot="start" ></ion-icon>
      <ion-label >Pagina_2</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
      href="https://www.youtube.com/watch?v=ZZ5LpwO-An4&ab_channel=ProtoOfSnagem" >
        <ion-text color="danger">
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-text>
        Texto pagina #2": Si me quieres, quiéreme entera,

        no por zonas de luz o sombra…
  
        Si me quieres, quiéreme negra
  
        y blanca, Y gris, verde, y rubia,
  
        y morena…
  
        Quiéreme día,
  
        quiéreme noche…
  
        ¡Y madrugada en la ventana abierta!…
  
        Si me quieres, no me recortes:
  
        ¡Quiéreme toda!… O no me quieras

      </ion-text>
    
    </ion-card-content>
  </ion-card>


  <ion-card color="danger"> <!--Pagina#3-->
    <ion-item color="tertiary">
      <ion-icon name="save-outline" slot="start" ></ion-icon>
      <ion-label>Pagina_3</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
      href="https://www.youtube.com/watch?v=YgGzAKP_HuM&ab_channel=PaceAudio" >
        <ion-text color="danger">
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-text> 
        Texto pagina #3:Entre mi amor y yo han de levantarse

        trescientas noches como trescientas paredes
        
        y el mar será una magia entre nosotros.
        
        No habrá sino recuerdos.
        
        Oh tardes merecidas por la pena,
        
        noches esperanzadas de mirarte,
        
        campos de mi camino, firmamento
        
        que estoy viendo y perdiendo...
        
        Definitiva como un mármol
        
        entristecerá tu ausencia otras tardes.

      </ion-text>
      

    </ion-card-content>
  </ion-card>

  <ion-card color="danger"> <!--Pagina#4-->
    <ion-item color="tertiary">
      <ion-icon name="prism-outline" slot="start" ></ion-icon>
      <ion-label>Pagina_4</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
      href="https://www.youtube.com/watch?v=9FGUXwh6UCo&ab_channel=LUISARTURO" >
        <ion-text color="danger">
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content >
      <ion-text>
        Texto pagina #4:Podrá nublarse el sol eternamente;

        Podrá secarse en un instante el mar;
      
        Podrá romperse el eje de la tierra
      
        Como un débil cristal.
      
        ¡todo sucederá! Podrá la muerte
      
       Cubrirme con su fúnebre crespón;
      
       Pero jamás en mí podrá apagarse
      
        La llama de tu amor. 

      </ion-text>

      
    </ion-card-content>
  </ion-card>

</ion-content>
